LOG_LEVEL=trace
GENERATE_SHARED_TYPES=true
CORS_ALLOW_ALL=true
ENABLE_REQUEST_LOGGING=true
ALLOW_NON_SSL=true
ORM_DISABLE=true
INFURA_ID=
MEEM_PROXY_ADDRESS=0x87e5882fa0ea7e391b7e31E8b23a8a38F35C84Ac
NETWORK=rinkeby
WALLET_PRIVATE_KEY=
GENERATE_SHARED_TYPES=true
GITHUB_KEY=
ETHERSCAN_API_KEY=
ENABLE_TEST_ENDPOINTS=true
DYNAMODB_SOCKETS_TABLE=LocalSockets
APP_AWS_ACCESS_KEY_ID=
APP_AWS_SECRET_ACCESS_KEY=
WEBSOCKETS_ENABLED=true
LAMBDA_MINT_FUNCTION=meem-api-dev-mint