app/migrations
node_modules
.circleci
.vscode
docs
.gcloud
.github
.git
.serverless
build
coverage
dev
docker
etc
load-test
logs
tmp
src/swagger/
src/sequelize/
src/server/lib/protocols/
src/server/lib/md5.ts
src/server/lib/SignedRequest.ts
*.generated.ts
src/types/factories/
src/types/Meem.ts