# Welcome to Serverless!
#
# This file is the main config file for your service.
# It's very minimal at this point and uses default values.
# You can always add more config options for more control.
# We've included some commented out config examples here.
# Just uncomment any of them to get that config option.
#
# For full config options, check the docs:
#    docs.serverless.com
#
# Happy Coding!

service: meem-api

provider:
  name: aws
  runtime: nodejs14.x
  memorySize: 256
  timeout: 30
  # logs:
  #   websocket: true
  environment:
    SERVERLESS: true
    LOG_LEVEL: ${env:LOG_LEVEL, 'debug'}
    ENABLE_REQUEST_LOGGING: ${env:ENABLE_REQUEST_LOGGING, 'false'}
    ORM_DISABLE: ${env:ORM_DISABLE, 'false'}
    INFURA_ID: ${env:INFURA_ID, ''}
    MEEM_PROXY_ADDRESS: ${env:MEEM_PROXY_ADDRESS, ''}
    MEEM_ID_PROXY_ADDRESS: ${env:MEEM_ID_PROXY_ADDRESS, ''}
    MEEM_AUCTION_PROXY_ADDRESS: ${env:MEEM_AUCTION_PROXY_ADDRESS, ''}
    MEEM_AUCTION_CURRENCY_ADDRESS: ${env:MEEM_AUCTION_CURRENCY_ADDRESS, ''}
    NETWORK: ${env:NETWORK, ''}
    WALLET_PRIVATE_KEY: ${env:WALLET_PRIVATE_KEY, ''}
    GENERATE_SHARED_TYPES: ${env:GENERATE_SHARED_TYPES, 'false'}
    GITHUB_KEY: ${env:GITHUB_KEY, ''}
    CORS_ALLOW_ALL: ${env:CORS_ALLOW_ALL, 'true'}
    APP_AWS_ACCESS_KEY_ID: ${env:APP_AWS_ACCESS_KEY_ID, ''}
    APP_AWS_SECRET_ACCESS_KEY: ${env:APP_AWS_SECRET_ACCESS_KEY, ''}
    ENABLE_TEST_ENDPOINTS: ${env:ENABLE_TEST_ENDPOINTS, ''}
    DYNAMODB_SOCKETS_TABLE: ${env:DYNAMODB_SOCKETS_TABLE, ''}
    AWS_WEBSOCKET_GATEWAY_URL: ${env:AWS_WEBSOCKET_GATEWAY_URL, ''}
    LAMBDA_MINT_FUNCTION: ${env:LAMBDA_MINT_FUNCTION, ''}
    LAMBDA_MEEMID_UPDATE_FUNCTION: ${env:LAMBDA_MEEMID_UPDATE_FUNCTION, ''}
    S3_BUCKET: ${env:S3_BUCKET, ''}
    MORALIS_API_KEY: ${env:MORALIS_API_KEY, ''}
    JSON_RPC_MAINNET: ${env:JSON_RPC_MAINNET, 'https://speedy-nodes-nyc.moralis.io/47bc53fc4b72dbd2d8582fea/eth/mainnet'}
    JSON_RPC_RINKEBY: ${env:JSON_RPC_RINKEBY, 'https://speedy-nodes-nyc.moralis.io/47bc53fc4b72dbd2d8582fea/eth/rinkeby'}
    JSON_RPC_POLYGON: ${env:JSON_RPC_POLYGON, 'https://speedy-nodes-nyc.moralis.io/47bc53fc4b72dbd2d8582fea/polygon/mainnet'}
    ENABLE_WHITELIST_TEST_DATA: ${env:ENABLE_WHITELIST_TEST_DATA, 'false'}
    MAX_GAS_PRICE_GWEI: ${env:MAX_GAS_PRICE_GWEI, '50'}
    MIN_GASE_PRICE_GWEI: ${env:MIN_GASE_PRICE_GWEI, '31'}
    GAS_ESTIMATE_THRESHOLD_GWEI: ${env:GAS_ESTIMATE_THRESHOLD_GWEI, '10'}
    DISABLE_MIGRATIONS: ${env:DISABLE_MIGRATIONS, 'true'}
    DISABLE_ORM_SYNC: ${env:DISABLE_ORM_SYNC, 'true'}
    ENABLE_CONTRACT_LISTENERS: ${env:ENABLE_CONTRACT_LISTENERS, 'false'}
    DATABASE_URL: ${env:DATABASE_URL, ''}
    MEEMPASS_DEFAULT_TWEETS_PER_DAY_QUOTA: ${env:MEEMPASS_DEFAULT_TWEETS_PER_DAY_QUOTA, '0'}
    TWITTER_CONSUMER_KEY: ${env:TWITTER_CONSUMER_KEY, ''}
    TWITTER_CONSUMER_SECRET: ${env:TWITTER_CONSUMER_SECRET, ''}
    TWITTER_BEARER_TOKEN: ${env:TWITTER_BEARER_TOKEN, ''}
    TWITTER_AUTH_CALLBACK_URL: ${env:TWITTER_AUTH_CALLBACK_URL, ''}
    TWITTER_MEEM_ACCOUNT_ID: ${env:TWITTER_MEEM_ACCOUNT_ID, ''}
    TWITTER_MEEM_ACCOUNT_CONSUMER_KEY: ${env:TWITTER_MEEM_ACCOUNT_CONSUMER_KEY, ''}
    TWITTER_MEEM_ACCOUNT_CONSUMER_SECRET: ${env:TWITTER_MEEM_ACCOUNT_CONSUMER_SECRET, ''}
    TWITTER_MEEM_ACCOUNT_TOKEN: ${env:TWITTER_MEEM_ACCOUNT_TOKEN, ''}
    TWITTER_MEEM_ACCOUNT_SECRET: ${env:TWITTER_MEEM_ACCOUNT_SECRET, ''}
    ENABLE_PROMPTS: ${env:ENABLE_PROMPTS, 'false'}
    ENABLE_VERBOSE_ERRORS: ${env:ENABLE_VERBOSE_ERRORS, 'false'}
    TWITTER_WALLET_PRIVATE_KEY: ${env:TWITTER_WALLET_PRIVATE_KEY, ''}
    TWITTER_PROJECT_TOKEN_ID: ${env:TWITTER_PROJECT_TOKEN_ID, ''}
    MEEM_PROJECT_OWNER_ADDRESS: ${env:MEEM_PROJECT_OWNER_ADDRESS, ''}
    DAO_WALLET: ${env:DAO_WALLET, ''}
    MEEM_WALLET_ADDRESS: ${env:MEEM_WALLET_ADDRESS, '0xde19C037a85A609ec33Fc747bE9Db8809175C3a5'}
    DEFAULT_PAGINATION_LIMIT: ${env:DEFAULT_PAGINATION_LIMIT, '20'}
    MINT_GAS_LIMIT: ${env:MINT_GAS_LIMIT, '2000000'}
    ENABLE_TWEET_CURATION: ${env:ENABLE_TWEET_CURATION, 'false'}
    WS_RPC_RINKEBY: ${env:WS_RPC_RINKEBY, 'wss://eth-rinkeby.alchemyapi.io/v2/lcOdvJ5FJvsjTT3ZzyeWSMfpy6ILx-1s'}
    WS_RPC_POLYGON: ${env:WS_RPC_POLYGON, 'wss://polygon-mainnet.g.alchemy.com/v2/xLwwfjFEFLvv_mRhnv7ZW3qM8f3K8MHE'}
    IPFS_CONTENT_GATEWAY_URL: ${env:IPFS_CONTENT_GATEWAY_URL, 'https://ipfs.moralis.io:2053'}

package:
  excludeDevDependencies: true
  include:
    - build/**
    - src/types/meem.generated.ts
    - src/lib/meem-badge.png
  exclude:
    - .circleci/**
    - .vscode/**
    - backup/**
    - coverage/**
    - docker/**
    - docs/**
    - load-testing/**
    - scripts/**
    - src/**
    - tmp/**

functions:
  mint:
    handler: build/src/serverless/mint.handle
    timeout: 300
    memorySize: 512
  meemIdUpdate:
    handler: build/src/serverless/meemIdUpdate.handle
    timeout: 300
  images:
    handler: build/src/serverless/handler.handle
    memorySize: 768
    events:
      - httpApi:
         method: '*'
         path: '/images/1.0/{p1}'
      - httpApi:
         method: '*'
         path: '/images/1.0/{p1}/{p2}'
      - httpApi:
         method: '*'
         path: '/images/1.0/{p1}/{p2}/{p3}'
  catchAll:
    handler: build/src/serverless/handler.handle
    events:
      - httpApi:
         method: '*'
         path: '/api/1.0/{p1}'
      - httpApi:
         method: '*'
         path: '/api/1.0/{p1}/{p2}'
      - httpApi:
         method: '*'
         path: '/api/1.0/{p1}/{p2}/{p3}'
      - httpApi:
         method: '*'
         path: '/admin/1.0/{p1}'
      - httpApi:
         method: '*'
         path: '/admin/1.0/{p1}/{p2}'
      - httpApi:
         method: '*'
         path: '/admin/1.0/{p1}/{p2}/{p3}'
      - httpApi:
         method: '*'
         path: '/'
  sockets:
    handler: build/src/serverless/socket.handle
    events:
      - websocket: $connect
      - websocket: $disconnect
      - websocket: $default
  cron:
    handler: build/src/serverless/cron.handle
    timeout: 600
    events:
      - schedule:
          rate: rate(5 minutes)
          # CHANGE THIS TO "true" TO RUN CRONS
          enabled: true
          input:
            job: TwitterCron
      - schedule:
          rate: rate(5 minutes)
          # CHANGE THIS TO "true" TO RUN CRONS
          enabled: true
          input:
            job: PromptsCron


plugins:
  - serverless-prune-plugin

custom:
  prune:
    automatic: true
    number: 3